.wrapper{
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
.nested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-gap: 1em;
}
.nested > div{
    border: #333 3px solid;
    padding: 1em;
}
.wrapper > div{
    background: gray;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background: rgb(233, 228, 228);
}